@using DevXpert.Store.Core.Application.ViewModels

@model IEnumerable<VendedorViewModel>

@{
    ViewData["Title"] = "Vendedores";
}

<h1>@ViewData["Title"]</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ativo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Ativo)
                </td>
                <td>
                    <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.Id"><i class="fa fa-pencil"></i> Atualizar</a>
                    <a class="btn btn-success" asp-action="ProdutosVendedor" asp-route-id="@item.Id"><i class="fa fa-pencil"></i> Produtos</a>
                </td>
            </tr>
        }
    </tbody>
</table>