@using DevXpert.Store.Core.Application.ViewModels

@model IEnumerable<VendedorViewModel>

@{
    ViewData["Title"] = "Vendedores";
}

<h1 class="mb-4">@ViewData["Title"]</h1>

<table class="table table-striped table-responsive">
    <thead>
        <tr>
            <th>Nome</th>
            <th>Email</th>
            <th>Status</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Nome</td>
                <td>@item.Email</td>
                <td>
                    <span class="badge @(item.Ativo ? "bg-success" : "bg-danger")">
                        @(item.Ativo ? "Ativo" : "Inativo")
                    </span>
                </td>
                <td>
                    @Html.Partial("_VendedorStatusForm", item)

                    <a class="btn btn-secondary" asp-action="ProdutosVendedor" asp-route-id="@item.Id" title="Produtos">
                        <i class="fas fa-box-open"></i>
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
