@using DevXpert.Store.Core.Application.ViewModels
@model ProdutoViewModel

@{
    ViewBag.Title = $"Alterar Status do Produto:";
    string acao = Model.Ativo ? "Inativar" : "Ativar";
    string acaoConfirm = Model.Ativo ? "Inativação" : "Ativação";
    string prefixo = Model.Ativo ? "in" : "";
    string icon = Model.Ativo ? "off" : "on";
}

<h1 class="mb-4">@ViewBag.Title <strong>@Model.Nome</strong></h1>

<div class="container mt-4">

    @await Html.PartialAsync("_ProdutoDetailsPartial", Model)

    <div class="d-flex gap-2">
        <button type="button" class="btn btn-outline-info" title="@acao"
                data-toggle="modal" data-target="#modalalternarstatus" onclick="$('#modalalternarstatus').modal('show');">
            <i class="fas fa-toggle-@(icon)"></i> @acao
        </button>
        <a asp-action="ProdutosVendedor" asp-route-id="@Model.VendedorId" class="btn btn-outline-secondary" title="Voltar">
            <i class="fas fa-arrow-left"></i> Voltar
        </a>
    </div>
</div>


<div class="modal modal-lg fade" id="modalalternarstatus" tabindex="-1" role="dialog" aria-labelledby="modalalternarstatus" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalalternarstatustitle">@acao Produto</h5>
                <button type="button" class="btn-close" aria-label="close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <p class="mb-4">Tem certeza que deseja @acao o produto <strong>@Model.Nome</strong>?</p>
            </div>
            <div class="modal-footer">             
                <form asp-action="AlternarStatusProduto"
                      asp-route-id="@Model.Id"
                      asp-route-vendedorId="@Model.VendedorId"
                      method="post"
                      style="display:inline">
                    <button type="submit" class="btn btn-outline-info" title="@acao">
                        Confirmar @acaoConfirm
                    </button>
                </form>
                <button type="button" data-bs-dismiss="modal" class="btn btn-outline-secondary">Fechar</button>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script>
        $(function () {
            setTimeout(function() {
              $('#modalAlert').fadeOut('slow');
            }, 3000);
        });
    </script>
}